{
  "root": true,
  "extends": "@devrsi0n/eslint-config-react",
  "rules": {
    "linebreak-style": "off",
    "strict": "off",
    "global-require": "off",
    "no-restricted-syntax": "off",
    "no-return-assign": "off",
    "react/jsx-wrap-multilines": "off",
    "jsx-a11y/media-has-caption": "off",
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
